button {
    background-color:  rgb(119, 118, 116);
    border-radius: 5%;
    padding: 10px;
    margin: 5px;
    font-size: 17px;
    border: none;
    outline:none;
    color:white;
    font-family:monospace;
    width: 100px;
}

.disappeared {
    display: none;
}

button:hover {
    background-color: rgb(85, 84, 83);
    color:white;
    border: none;
    outline:none;
}

button:active {
    background-color: rgb(73, 73, 73);
    color:white;
    border: none;
    outline:none;  
}

#rotate-btn {
    grid-area: headerRotate;
    justify-self: center;
    background-color:cadetblue;
}
#rotate-btn:hover {
 
    background-color:rgb(60, 102, 104);
}