.ship-left {
    height: 30px;
    /* background-color: gray; */
    margin:10px;
    border-radius: 5%;
    display: flex;
    justify-content: center;
}

.ship-left-square {
    height: 30px;
    background-color: rgb(170, 64, 64);
    margin:1px;
    border-radius: 10%;
    width: 30px;

}
.ship1-left {
    width: 30px;
}

.ship2-left {
    width: 60px;
    
}

.ship3-left {
    width: 90px;
    
}

.ship4-left {
    width: 120px;
}

.ship-left:hover >.ship-left-square {
    background:black;
    cursor: pointer;
}

.ship-left:active >.ship-left-square {
    background:green;
    cursor: pointer;
}

.ship-left-disappeared {
    display: none;
}

#container {
    display: grid;
    grid-template-columns: 50px;
    grid-template-rows: auto;
    grid-template-areas: 
    "header header header header"
    "main  main player oponent"
    "footer footer footer footer";
}

#table-player {
    grid-area: player;

}

#table-oponent {
    grid-area: oponent;

}
.ships-left {
    grid-area: main;
    /* background-color:rgb(255, 196, 190); */
height: 415px;
margin: 40px;
border-radius: 1%;
border: black 1px solid;



}
