*{
    margin:0;
}

.ship-left {
    height: 30px;
    /* background-color: gray; */
    margin:10px;
    border-radius: 5%;
    display: flex;
    justify-content: center;
}

.ship-left-square {
    height: 35px;
    background-color: cadetblue;
    /* background-color: rgb(248, 160, 150); */
    margin:1px;
    border-radius: 10%;
    width: 35px;
    height: 35px;
}

.ship1-left {
    width: 35px;
    height: 35px;
}

.ship2-left {
    width: 70px;
    height: 35px;  
}

.ship3-left {
    width: 105px;
    height: 35px;
}

.ship4-left {
    width: 140px;
    height: 35px;
}

.ship-left:hover >.ship-left-square {
    background:rgb(48, 120, 122);
    cursor: pointer;
}

.ship-left-sunked >.ship-left-square {
    background:rgb(208, 224, 224);
}


/* .ship-left:active >.ship-left-square {
    background:green;
    cursor: pointer;
} */

.ship-left-disappeared {
    display: none;
}

#container {
    display: grid;
    grid-template-columns: 0.8fr 1.5fr 1.5fr 0.8fr;
    grid-column-gap: 80px;
    grid-template-rows: auto;
    grid-template-areas: 
    "header header header header"
    " ships-left  player oponent ships-left-oponent"
    "footer footer footer footer";
}

#table-player {
    grid-area: player;
    justify-self: center;
}

#table-oponent {
    grid-area: oponent;
    justify-self: center;
}

.ships-left, .ships-to-drag {
    grid-area: ships-left;
    /* background-color:rgb(255, 196, 190); */
    margin: 30px;
    border-radius: 1%;
    border: black 1px solid;
    justify-self: center;
    width:160px;
    height: 465px;

}

.ships-left-oponent {
    grid-area: ships-left-oponent;
    /* background-color:rgb(255, 196, 190); */
    margin: 30px;
    border-radius: 1%;
    border: black 1px solid;
    width:160px;
    justify-self: center;
}

