* {
    margin: 0;
    padding: 0;
}

html {
    background-color:rgb(255, 255, 255);
    font-family:monospace;
    font-size: 1.5rem;
    text-align: center;
}

h1 {
    margin: 20px;
    text-align: center;
    color:rgb(182, 13, 55);
    font-size: 50px;
}

section.ships {
    margin: 50px;
}

table {
    border: black 2px solid;
    border-radius: 1%;
    margin: 40px;
    width: 410px;
}

th {
    border: black 2px solid;
    border-radius: 10%;
    padding: 4px;
    background-color: white;
    width: 22px;
    height: 22px;
}