
ul{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: center;
}

li {
    background-color: bisque;
    border-radius: 10%;
    padding: 10px;
    margin: 5px;
    font-size: 17px;
}

.default-text{
    color:rgb(40, 65, 66);
}

.crossed-text {
    text-decoration: line-through;
    color:rgb(221, 251, 252);
    background-color:cadetblue;

}

